<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/community.css">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/markdown/css/editormd.css"/>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>发起</h2>
            <hr>
            <!--/*@thymesVar id="questionDTO" type="com.community.entity.dto.QuestionDTO"*/-->
            <form action="#" th:action="@{/publish}" th:object="${questionDTO}" method="post">
                <input class="hidden" th:field="*{id}">
                <div class="form-group">
                    <label for="title">问题标题（简明扼要）：</label>
                    <span style="color: red" th:if="${#fields.hasErrors('title')}"
                          th:errors="*{title}">Name Error</span>
                    <input type="text" class="form-control" id="title" name="title" th:field="*{title}"
                           placeholder="问题标题....." autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="description">问题补充（必填，参照右边提示）：</label>
                    <span style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Name Error</span>
                    <div id="question-editor">
                        <textarea class="form-control" id="description" name="description" th:field="*{description}"
                                  cols="30" rows="10" style="display:none;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="tag">添加标签：</label>
                    <span style="color: red" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}">Name Error</span>
                    <input type="text" class="form-control" id="tag" name="tag" th:field="*{tag}"
                           placeholder="点击选择标签" autocomplete="off" onclick="showSelectTag()">
                    <span></span>
                    <div id="select-tag" class="publish-tab-tag">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="tag,tagStat:${tags}"
                                th:class="${tagStat.first?'active':''}">
                                <a href="#home" th:href="${'#'+tag.name}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${tag.name}"></a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${tag.name}" th:each="tag,tagStat:${tags}"
                                 th:class="${tagStat.first?'active tab-pane':'tab-pane'}">
                                <span>
                                    <span class="label label-info" th:each="t:${tag.subTags}">
                                        <span class="glyphicon glyphicon-tag" onclick="selectTag(this)"
                                              th:data-tag="${t.name}" th:text="${' '+t.name}"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <button class="btn btn-success btn-publish col-lg-1" type="submit">发布</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            · 问题标题：用精简的语言描述您发布的问题，不超过25个子<br>
            · 问题补充：详细描述您的问题内容，并确保问题清晰直观，提供一些相关的资料<br>
            · 选择标签：选择一个或多个标签，用逗号隔开，每个标签不超过10个字<br>
        </div>
    </div>
</div>
<script src="/static/jQuery/jquery-3.4.1.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js" type="application/javascript"></script>
<script src="/static/markdown/editormd.min.js"></script>
<script src="/static/js/community.js" type="application/javascript"></script>
<script type="text/javascript">
    $(function () {
        editormd("question-editor", {
            width: "100%",
            height: "350px",
            path: "/static/markdown/lib/",
            delay: 0,
            watch: false,
            placeholder: "请输入问题描述",
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/file/upload",
            toolbarIcons: function () {
                return ["undo"
                    , "redo"
                    , "bold"
                    , "del"
                    , "italic"
                    , "quote"
                    , "ucwords"
                    , "uppercase"
                    , "lowercase"
                    , "|"
                    , "h1"
                    , "h2"
                    , "h3"
                    , "h4"
                    , "h5"
                    , "h6"
                    , "|"
                    , "list-ul"
                    , "list-ol"
                    , "hr"
                    , "|"
                    , "link"
                    , "reference-link"
                    , "image"
                    , "code"
                    , "preformatted-text"
                    , "code-block"
                    , "table"
                    , "datetime"
                    , "emoji"
                    , "html-entities"
                    , "pagebreak"
                    , "|"
                    , "goto-line"
                    , "watch"
                    , "preview"
                    , "clear"
                    , "search"
                    , "|"
                    , "help"];
            },
        });
    });
</script>
</body>
</html>